@use 'styles/card' as c;
@use 'styles/section' as s;
@use 'styles/typography' as t;

.upload {
  @include s.section;

  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    @include c.card;

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;
    padding: 40px;
    gap: 16px;
  }

  &__title {
    @include t.text('display', 'medium');

    color: var(--text);
  }

  &__hint {
    @include t.text('body', 'medium');

    color: var(--text-secondary);
  }
}
