:host {
  display: block;
}

.logo-mark {
  display: block;
  width: 100%;
  height: 100%;

  &__lap {
    stroke: currentcolor;
    stroke-linecap: round;
    stroke-width: 6;
  }

  &__lap_inner {
    stroke: var(--accent);
  }

  &__start {
    fill: var(--accent);
  }
}
