<main class="race" id="main" tabindex="-1">
  <div aria-live="polite" class="race__status" role="status">
    @switch (status()) {
      @case (statuses.loading) {
        <mat-progress-spinner class="race__status-spinner" mode="indeterminate" [diameter]="24" />

        <span i18n="@@race.loading">Загружаем протокол…</span>
      }
      @case (statuses.notFound) {
        <span i18n="@@race.notFound">Такой протокол не найден.</span>
      }
    }
  </div>

  @switch (status()) {
    @case (statuses.ready) {
      @if (race(); as view) {
        <header class="race__header">
          <div class="race__header-info">
            <h1 class="race__title" i18n="@@race.title">Пробег № {{ view.number }}</h1>

            <p class="race__date">{{ view.dateLong }}</p>

            <p class="race__place">{{ view.city }}, {{ view.park }}</p>

            <p class="race__count" i18n="@@race.participantCount">Участников: {{ view.participantCount }}</p>

            @if (view.medianTimeM; as medianTime) {
              <p class="race__median" i18n="@@race.medianTimeM">Медиана М: {{ medianTime }}</p>
            }

            @if (view.medianTimeF; as medianTime) {
              <p class="race__median" i18n="@@race.medianTimeF">Медиана Ж: {{ medianTime }}</p>
            }
          </div>

          <button
            class="race__pdf"
            matButton="filled"
            type="button"
            [attr.aria-label]="view.pdfAriaLabel"
            [disabled]="pdfLoading()"
            (click)="downloadPdf()"
          >
            @if (pdfLoading()) {
              <mat-progress-spinner class="race__pdf-spinner" mode="indeterminate" [diameter]="18" />
            }

            <span i18n="@@race.pdf">PDF</span>
          </button>

          @if (pdfFailed()) {
            <span class="race__pdf-error" i18n="@@race.pdfError" role="alert">Не удалось сформировать PDF</span>
          }
        </header>

        <div class="race__table-wrap">
          <table class="race__table" mat-table [dataSource]="view.rows">
            <ng-container matColumnDef="index">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.index" mat-header-cell scope="col">№</th>

              <td *matCellDef="let row" class="race__td" mat-cell>{{ row.index }}</td>
            </ng-container>

            <ng-container matColumnDef="athlete">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.athlete" mat-header-cell scope="col">Спортсмен</th>

              <td *matCellDef="let row" class="race__td" mat-cell>
                <a class="race__athlete" [attr.aria-label]="row.athleteAriaLabel" [routerLink]="row.athleteLink">
                  {{ row.fullName }}
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="time23">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.time23" mat-header-cell scope="col">Время 2,3 км</th>

              <td *matCellDef="let row" class="race__td race__td_mono" mat-cell>{{ row.time23 }}</td>
            </ng-container>

            <ng-container matColumnDef="time5">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.time5" mat-header-cell scope="col">Время 5 км</th>

              <td *matCellDef="let row" class="race__td race__td_mono" mat-cell>{{ row.time5 }}</td>
            </ng-container>

            <ng-container matColumnDef="pace">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.pace" mat-header-cell scope="col">Ср. темп</th>

              <td *matCellDef="let row" class="race__td race__td_mono" mat-cell>{{ row.paceText }}</td>
            </ng-container>

            <ng-container matColumnDef="gender">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.gender" mat-header-cell scope="col">Пол</th>

              <td *matCellDef="let row" class="race__td" mat-cell>{{ row.genderText }}</td>
            </ng-container>

            <ng-container matColumnDef="placeM">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.placeM" mat-header-cell scope="col">Место М</th>

              <td *matCellDef="let row" class="race__td" mat-cell>{{ row.placeMText }}</td>
            </ng-container>

            <ng-container matColumnDef="placeF">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.placeF" mat-header-cell scope="col">Место Ж</th>

              <td *matCellDef="let row" class="race__td" mat-cell>{{ row.placeFText }}</td>
            </ng-container>

            <ng-container matColumnDef="club">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.club" mat-header-cell scope="col">Клуб</th>

              <td *matCellDef="let row" class="race__td" mat-cell>{{ row.club }}</td>
            </ng-container>

            <ng-container matColumnDef="note">
              <th *matHeaderCellDef class="race__th" i18n="@@race.table.note" mat-header-cell scope="col">Примечание</th>

              <td *matCellDef="let row" class="race__td" mat-cell>{{ row.note }}</td>
            </ng-container>

            <tr *matHeaderRowDef="tableColumns" mat-header-row></tr>

            <tr *matRowDef="let row; columns: tableColumns" class="race__row" mat-row></tr>
          </table>
        </div>
      }
    }
    @case (statuses.notFound) {
      <div class="race__not-found">
        <a class="race__back" i18n="@@race.backHome" matButton [routerLink]="homeLink">К списку забегов</a>
      </div>
    }
    @case (statuses.error) {
      <p class="race__error" i18n="@@race.error" role="alert">Не удалось загрузить протокол.</p>

      <app-reload-button />
    }
  }
</main>
